@import './app';

.modalnf__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cccc;
}

.modalnf__dialog {
    //position
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    //style
    width: 300px;
    max-width: 70%;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    background-color: white;
    box-shadow: $shadow-modal;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;

    @include tablet {
        width: 400px;
        max-width: 100%;
    }
}

.modalnf__button {
    display: flex;
    justify-content: flex-end;
}

.modalnf__button-close {
    width: 20px;
    height: 20px;
}

.modalnf__content h1 {
    font-family: $font-emphatic;
    font-size: $xl;
    color: $color-primary;
    font-weight: $regular;

    @include tablet {
        font-size: $xl;
    }
}
