@import './app';

.character-card {
    border: 2px solid black;
    border-radius: 5px;
    background-color: $color-primary;
    box-shadow: 3px 2px $color-secondary;
    //gradient  #ddfc44 (amarillo)
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 5px;

    &__image {
        width: 150px;
        height: 150px;
    }

    &__name {
        font-family: $font-basic;
        color: $color-light;
        font-size: 22px;
    }

    &__species {
        font-family: $font-emphatic;
        color: $color-light;
        font-size: 18px;
    }
}
