@import './app';

.character-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 35px 60px 35px;

    @include tablet {
        margin: 0px 50px 60px 50px;
    }

    @include desktop {
        margin: 0px 60px 60px 60px;
    }
}

.not-found__message {
    display: flex;
    justify-content: center;
}

p {
    font-family: $font-basic;
    font-size: $m;
    color: $color-dark;
}
