@import '../../app.scss';

.character-list {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-items: center;
    margin: 50px auto;

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 20px;
        margin: 70px 35px;
    }
    @include desktop {
        grid-template-columns: repeat(5, 2fr);
        grid-row-gap: 30px;
        margin: 90px auto;
    }
}

.not-found__message {
    display: flex;
    justify-content: center;
}

p {
    font-family: $font-basic;
    font-size: $m;
    color: $color-dark;
}
